#dm3m_slides {
	max-width: 700px;
}

#dm3m_slides li.slide {
	display: block;
	padding: 15px 2% 26px 120px;
	background: #fff;
	border: solid 1px #dfdfdf;
	margin: 20px 0;
	position: relative;
}

#dm3m_slides .slide_highlight {
	display: block;
	width: 99.8%;
	height: 40px;
	background: #fff;
	border: 1px dashed #dfdfdf;
	margin-bottom: 1em;
}

.dm3m_image {
	position: absolute;
	left: 15px;
	top: 15px;
	text-align: center;
	padding: 8px;
	width: 70px;
	background: #f5f5f5;
}

.dm3m_image img {
	display: block;
	margin-bottom: 8px;
	width: 100%;
	height: auto;
	max-height: 160px;
}

.dm3m_image .button-secondary {
	display: inline-block;
}

#dm3m_slides li.slide label {
	display: block;
	padding-bottom: 5px;
}

#dm3m_slides .dm3-textarea,
#dm3m_slides .dm3-textinput {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

.dm3m-preview-image {
	display: none;
	margin: 0 0 10px 0;
}

.slide-video .dm3m-preview-image {
	display: block;
}

#dm3m_slides .dm3m_menu {
	background: #eaeaea;
	border: 1px solid #dfdfdf;
	position: absolute;
	left: -1px;
	bottom: -1px;
	width: 100%;
	overflow: hidden;
}

.dm3m_menu > a {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 22px;
	float: right;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
